.edit-profile{
    padding: 30px;
    display: flex;
    /* background: #1d1d1d; */
    flex-direction: column;
}

.edit-profile h2{
    color: #e7e7e7;
    margin-bottom: 10px;
}

.edit-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.edit-header h2 {
    padding-left: 10px;
}

.edit-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.edit-form label {
    width: 100%;
}

.edit-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #8585852f;
    color: white;
    font-size: 1em;
}

.edit-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #8585852f;
    color: white;
    font-size: 1em;
}

.edit-form button {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background: radial-gradient(#ffffff 0%, #ffffff 100%);
    color: black;
    font-size: 1em;
    font-weight: 600;
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
}