header{
    width: 100%;
    display: flex;
    backdrop-filter: blur(4px) invert(1);
    /* background-color: #ececec; */
    background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.9) 100%);
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 60px;
}

header div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header div svg{
    height: 1.5em;
}