.app-header {
    width: 100%;
    display: flex;
    /* backdrop-filter: blur(4px) invert(1); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 80px;
}

#musLogo {
  width: 20%;
}

.app-header div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* border-radius: 60px 60px 0px 0px; */
    background: linear-gradient(0deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 0.6) 25%, rgb(20, 20, 20) 80%, #175942 100%);
}

.app-header div svg{
    height: 1.5em;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px -40px 20px 0px #4dffc172;
    transition: all 0.3s ease-in-out;
  }
  
  /* .search-btn:hover {
      box-shadow: 0px -10px 20px 10px #3daeff8e ,inset 0px 0px 20px 10px #3daeff8e;
  } */
  

  .header-icons {
    position: relative;
    display: block;
    width: auto;
  }

  .x-icon {
    width: 23.33px;
  }
  
  .notification-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px -40px 20px 0px #4dffc172;
    transition: all 0.3s ease-in-out;
  }
  
  /* .notification-btn:hover {
    box-shadow: 0px -10px 20px 10px #3daeff8e ,inset 0px 0px 30px #3daeff8e;
  } */
  
  .notifications-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    z-index: 10;
    animation: slideDown 0.3s ease;
  }
  
  .notifications-dropdown h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  
  .notifications-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notifications-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* .notifications-dropdown li:last-child {
    border-bottom: none;
  } */
  
  .notifications-dropdown p {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    color: #666;
  }
  