/* Basic styles for the landing page */
.landing-header {
    background-color: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    height: 60px;
}

.hero {
    /* background: url('hero-image.jpg') no-repeat center center/cover; */
    color: #000000;
    padding: 60px 20px;
    text-align: center;
}
