
:root {
  color: #dedede;
   background: linear-gradient(to bottom, #202020, #171717);
  /* box-shadow: inset 0px 0px 20px 5px var(--glow-color); */
}

a:-webkit-any-link {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 600; /* Customize the weight (e.g., 400, 500, 600) */
}

p, a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 400; /* Normal weight for paragraphs */
}


.App {
  
  height: 100%;
}

.main-content {
  padding-top: 80px;
  padding-bottom: 50px;
  background: radial-gradient(#4dffc12f 0%, #1d1d1d00 100%);
  min-height: 95vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* box-shadow: inset 0px 0px 10px 10px #61dafb70; */
}

.error-message{
  color: white;
  font-size: 2em;
  font-weight: 600;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media only screen and (max-width: 450px) {
  :root {
    border-radius: 60px;
    width: 100vw;
  }
} */