.playlist-card-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* margin-right: 10px; */
    border-bottom: 2px solid #424242;
    padding-bottom: 10px;
  }
  
  .playlist-image-small {
    width: 15%;
    height: 15%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
  }

  .playlist-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 0px 0px 20px;
  }
  
  .playlist-title-h {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #e7e7e7;
  }

  .playlist-curator-h {
    text-align: center;
    margin-top: 0px;
    font-size: 0.8em;
    color: #e7e7e7;
    display: none;
  }