.playlist-card {
    width: 150px;
    /* margin-right: 10px; */
  }
  
  .playlist-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .playlist-title {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #e7e7e7;
  }

  .playlist-curator {
    text-align: center;
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 500;
    color: #e7e7e7;
  }