
  .playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px 30px; /* Adjust the gap between cards */
    padding: 40px;
    padding-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    justify-items: center;
  }
  
  .playlist-carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better UX */
  }
  