.profile-container {
    /* width: 100%;
    max-width: 400px; */
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #222222c0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid #4dffc1;
    aspect-ratio: 1/1;
  }
  
  .profile-details {
    flex-grow: 1;
    text-align: left;
  }
  
  .username {
    font-size: 24px;
    font-weight: bold;
    color: #e7e7e7;
    margin: 0;
  }
  
  .bio {
    font-size: 16px;
    color: #e7e7e7;
    margin-top: 5px;
  }
  
  .followers {
    font-size: 18px;
    color: #e7e7e7;
    font-weight: bold;
    padding-top: 10px;
    border-top: 2px solid #4dffc1;
    display: flex;
    justify-content: space-around;
  }

  .profile-content{
    margin-top: 20px;
  }

  .profile-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

/* ProfileDropdown.css */

.profile-settings {
  position: relative;
  display: flex;
}

#settings-icon {
  cursor: pointer;
  height: 20px;
  /* padding: 10px; */
}

.dropdown {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  background-color: #323232;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 125px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dropdown-item i {
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: #424242;
}

/* Display dropdown when it has the 'open' class */
.dropdown.open {
  display: block;
}

.profile-link {
  color: #e7e7e7;
}
  