::-webkit-scrollbar{
  display: none;
}

.playlist-row {
    margin-bottom: 10px;
  }

.top-playlist-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
  
  .category-title {
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    color: #e7e7e7;
  }
  
  .top-playlist-carousel {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    display: flex;
    grid-auto-flow: column; /* Forces grid items to flow in a single row */
    grid-auto-columns: 150px; /* Sets a fixed width for each card */
    gap: 20px;               /* Adds space between the grid items */
    overflow-x: auto;        /* Enables horizontal scrolling */ 
    scroll-snap-type: x mandatory; /* Optional: Enables snap scrolling for a smooth experience */
    
  }
  
  .playlist-carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better UX */
  }
  
  .top-playlist-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .top-playlist-row .playlist-card {
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
  }

  .playlist-rank{
    color: #ffffff25;
    font-size: 10em;
    font-weight: 600;
    padding-right: 20px;
    position: relative;
    top: 0px;
    left: 40px;
    z-index: -100;
  }

  /* .top-playlist-row .playlist-card img {
    box-shadow: 0px 0px 15px 0px #e7e7e76a;
  } */

  .top-playlist-row .playlist-card {
    box-shadow: 0px 0px 15px 0px #e7e7e750;
  }

  .blank-card .playlist-card img {
    display: none;
  }

  .blank-card .playlist-card .playlist-title {
    text-align: center;
    font-size: 5em;
    max-height: none;
    color: #ffffff50;
    opacity: 0.5;
    padding-bottom: 10px;
  }

  .top-playlist-row.selected .playlist-card{
    border: 2px solid #4caf50; /* Example highlight */
    box-shadow: 0px 0px 10px 0px #e7e7e780, inset 0px 0px 10px 0px #e7e7e780;
  }
  
  .blank-card .playlist-card{
    height: 225px;
    justify-content: center;
  }

  .blank-card .playlist-card .playlist-link .playlist-image{
    display: none;
  }

  .blank-card .playlist-card .playlist-link .playlist-title{
    font-size: 5em;
    font-weight: 700;
    color: #adadad70;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
  }


  .edit-btn{
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    background: none;
    border: none;
    border-radius: 20px;
  }

  .edit-tp-selector{
    margin: 30px 0px;
    width: 100%;
    background-color: #1e1e1e;
    box-shadow: inset 0px 10px 15px 0px #000000;
    transition: all 0.3s ease-in-out;
  }

  .edit-tp-selector-hidden{
    height: 0px;
    overflow: hidden;
  }

  .edit-tp-selector-visible{
    height: 330px;
    overflow: scroll;
  }

  .edit-tp{
    padding: 20px 0px !important;
  }

  .edit-tp input{
    border: 2px solid #adadad !important;
  }

  .tp-selector-row .category-title{
    display: none;
  }

  .tp-selector-row{
    display: flex;
    gap: 10px;
    padding: 0px 20px;
    overflow-x: scroll;
  }

@media only screen and (max-width: 450px){

  .top-playlist-title{
    padding: 20px 20px;
  }

  .edit-tp-selector{
    margin-top: 20px;
  }

}

@media only screen and (min-width: 900px){
  .top-playlist-carousel{
    justify-content: center;
    padding-left: 0px;
    overflow: none;
  }
}